# Core
Django==5.2
gunicorn==23.0.0
whitenoise==6.9.0
sqlparse==0.5.3
asgiref==3.9.1
tzdata==2025.2
python-decouple==3.8

# Database
psycopg2-binary==2.9.10
dj-database-url==1.0.0

# Django Ecosystem
django-cors-headers==4.7.0
django-storages==1.14.6
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1

# Celery & Redis
celery==5.5.3
redis==3.5.3
django-celery-beat==2.8.1

# Supabase SDK
supabase==2.15.1
gotrue==2.12.0
postgrest==1.0.1
realtime==2.4.3
storage3==0.11.3
supafunc==0.9.4

# AWS S3 Support
boto3==1.40.11
botocore==1.40.11
s3transfer==0.13.1

# Extras (if used in project)
stripe==4.0.2
razorpay==1.2.0
qrcode==7.3.1
reportlab==3.6.11
xhtml2pdf==0.2.8
